*.user
*.db
*.nvact
*.spv

.git/

bin/

build/doc/obj/

build/runtime/solutions/vs2015/.vs/
build/runtime/solutions/vs2015/bin/
build/runtime/solutions/vs2015/obj/
build/runtime/solutions/vs2015/projects/test/data/

build/resource/

example/solutions/vs2015/.vs/
example/solutions/vs2015/bin/
example/solutions/vs2015/obj/
