*.user
*.db
*.nvact
*.spv
*.opendb

.git/

bin/

build/doc/obj/

build/runtime/solutions/vs2015/.vs/
build/runtime/solutions/vs2015/bin/
build/runtime/solutions/vs2015/ipch/
build/runtime/solutions/vs2015/obj/
build/runtime/solutions/vs2015/projects/test/data/
build/runtime/solutions/vs2015/projects/test/screenshot.bmp

build/runtime/solutions/vs2017/.vs/
build/runtime/solutions/vs2017/bin/
build/runtime/solutions/vs2017/ipch/
build/runtime/solutions/vs2017/obj/
build/runtime/solutions/vs2017/projects/test/data/

build/test/data/
build/test/screenshot.bmp

build/resource/

example/solutions/vs2015/.vs/
example/solutions/vs2015/bin/
example/solutions/vs2015/ipch/
example/solutions/vs2015/obj/
